.myClass
{
  width: 35%;
  margin-left: 25px; 
}

.container-fluid
{
    padding-top: 25px;
}
.dropdown {margin-left:25px }
.dropdown-menu{min-width: 29rem}
.dropdown-toggle, .dropdown-menu { width: 300px }
.btn-group img { margin-right: 10px }
.dropdown-toggle { padding-right: 460px }
.dropdown-toggle .glyphicon { margin-left: 36px; margin-right: 260px }
.dropdown-menu>li>a:hover { background: #f1f9fd } /* $search-blue */
