.myClass
{
  width: 35%;
  margin-left: 25px; 
}
.myButton{
 margin-left: 200px;
 margin-top: 10px;
}
.container-fluid
{
    padding-top: 25px;
}
.fa-edit{ color: #2aa863;}
.fa-trash-o{color:#f31616}
.alert-danger{width:100%;}
.alert{margin-bottom:0px;border: 0px; }
input.ng-invalid.ng-touched{background-color:#f8d7da  }
.dropdown {margin-left:25px }
.dropdown-menu{min-width: 29rem}
.dropdown-toggle, .dropdown-menu { width: 300px }
.btn-group img { margin-right: 10px }
.dropdown-toggle { padding-right: 460px }
.dropdown-toggle .glyphicon { margin-left: 36px; margin-right: 260px }
.dropdown-menu>li>a:hover { background: #f1f9fd } /* $search-blue */
